@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
}

.secondary-title {
  @apply text-3xl font-bold;
}

body {
  @apply pb-12 text-white bg-body font-poppins;
}

.card {
  cursor: pointer;
  transition: all ease 200ms;
}

.card:hover {
  transform: scale(1.03);
}

.project-card {
  @apply mt-12 md:mt-6 md:mx-2;
}
